<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vosie.wikicards"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.vosie.wikicards.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".data.DownloadService" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:label="@string/label_licenses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CardActivity"
            android:label="@string/title_activity_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StarredCardActivity"
            android:label="@string/title_activity_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.vosie.wikicards.DownloadDBActivity"
            android:label="@string/title_activity_downloaddb"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
